---
import type { Session } from "@auth/core/types";
import { Auth, SignIn } from "auth-astro/components";
import Login from "@components/Login.astro";
---

<nav
  id="header"
  x-data="{ isOpen: false }"
  class="supports-backdrop-blur:bg-white/80 sticky top-0 z-20 w-full flex-none bg-white/80 py-4 backdrop-blur transition-all duration-500 border-slate-50/[0.06] sm:z-10 lg:z-50 lg:border-b lg:border-slate-900/10"
>
  <div
    class="mx-auto flex max-w-[120rem] flex-wrap items-center md:px-12 justify-between"
  >
    <div class="flex items-center gap-x-3 relative w-[calc(100%-0.5rem)]">
      <a
        href="/"
        class="flex items-center focus-within:outline-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 md:mr-5"
      >
        <span
          class="font-headin ml-5 self-center text-black whitespace-nowrap text-xl font-semibold"
        >
          {import.meta.env.APP_NAME}
        </span>
      </a>

      <div class="w-full items-center justify-between hidden md:flex">
        <ul
          class="mt-4 flex flex-col rounded-lg border border-gray-100 dark:border-gray-700 md:mt-0 md:flex-row md:space-x-1 md:border-0 md:text-sm md:font-medium"
        >
          <li>
            <a
              href="/"
              class="block rounded py-2 pl-3 pr-4 leading-6 md:px-3 md:py-2"
            >
              Home
            </a>
          </li>
          <li>
            <button
              id="dropdownNavbara"
              data-dropdown-toggle="animTop"
              data-dropdown-trigger=""
              class="flex w-full items-center justify-between rounded py-2 pl-3 pr-4 m-a md:px-3 md:py-2 leading-6"
            >
              Tags
              <svg
                class="ml-2.5 h-2.5 w-2.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  store-line-clamp="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"></path>
              </svg>
            </button>
          </li>
        </ul>
        <div class="ml-auto flex space-x-3 items-center">
          <p
            class="rounded-full bg-gray-900 inline-block px-3.5 py-1 text-sm font-medium text-white shadow-sm"
          >
            Under Development
          </p>
          <Auth>
            {
              (session: Session) => {
                if (session) {
                  return <Login user={session.user} />;
                } else {
                  return <SignIn provider="github">Sign In</SignIn>;
                }
              }
            }
          </Auth>
        </div>
      </div>

      <!-- Mobile menu button-->
      <!-- <div class="absolute inset-y-0 right-0 flex items-center sm:hidden">
        <button
          type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white duration-150"
          aria-controls="mobile-menu"
          @click="isOpen = !isOpen"
          aria-expanded="false"
        >
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <svg
            x-show="!isOpen"
            class="block h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>
          <svg
            x-cloak
            x-show="isOpen"
            class="block h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div> -->
    </div>
  </div>

  <div
    x-show="isOpen"
    class="sm:hidden mt-2"
    id="mobile-menu"
    x-transition
    x-cloak
  >
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a
        href="/"
        class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium"
        aria-current="page">Home</a
      >
    </div>
  </div>
</nav>
